#sectionOne #title{
    font-size: 3vw;
    font-weight: 900;
}
#sectionTwo{
    margin: 7% 8%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    background-image: url(/images/conversationBG.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%; 
}
#sectionTwo .left{
    width:50%;

}
.left #quote{
    margin-top: -4%;
    margin-left: -20%;
    font-style: oblique;
    font-size: 1.9vw;
    background: transparent;
    margin-bottom: 10%;
}
#quote span{
    color: brown;
}
#sectionTwo .chatContainer{
    width: 50%;
    margin-left: -10%;
    background-color: #fff;
    padding: 3%;
}
#sectionTwo .chatContainer #text{
    text-align: center;
    margin-bottom:5%;
    color: brown;
    font-weight: 900;
    font-size: 1.5vw;
}
.userComment{
    display: flex;
    margin: 1%;
    padding: 2%;
    border: 2px solid #f2efe3 ;
    border-radius: 3%;
}
.userComment img{
    width: 6vw;
    margin: 2%;
    margin-top: 50%;
}
.commentSection{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
}
.userComment .username{
    font-weight: 600;
    margin: 1%;
}
.userComment .userOpinion{
    font-style: italic;
    margin-top: 3%;
    height: 100px;
}
.iconsSpan{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
    height: 30px;
}
#last{
    margin-top: 5%;
}
#last input{
    background-color: azure;
    border-radius: 25px;
    height: 50px;
    font-size: 1vw;
}
#last button{
    width: fit-content;
    padding: 3%;
    margin-top: 3%;
    color: white;
    background-color: brown;
    font-size: 1vw;
    border-radius: 25px;
}