#bannerTitle{
    font-weight: 900;
    font-size: 3vw;
    margin-bottom: 3%;
}
#why{
    font-style: oblique;
    font-size: 1.5vw;
    margin-bottom: 3%;
}
.paid-doctors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.docinfo{
    background: #808080;
    border-radius: 20px;
    height: 640px;
    width: 380px;
    margin: 50px;
}
#doc-info{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.paid-doctors img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
#doc-info h3{
    color: white;
    font-size: 1.2em;
    margin: 10px;
}
ul{
    list-style: none;
}
.speciality{
    color: white;
    font-size: 22px;
    padding-left: 26px;
    font-weight: 700; 
    line-height: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
button{
    height: 50px;
    width: 380px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    border: none;
    margin-top: 30px;
}
.pay{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 10px;
}
.pay h4{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 3.5cm;
    height: 1.3cm;
    text-align: center;
    padding-top: 3px;
    font-weight: bolder;
    font-size: 15px;
}
#email{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 5cm;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}
#end{
    bottom: 0px;

}
